#register-header,
#register-con,
#register-footer {
    width: 1210px;
    margin: 0 auto;
}


/* register-header */

#register-header-wrap {
    width: 100%;
    height: 110px;
    overflow: hidden;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

#register-header {
    width: 1210px;
    height: 76px;
    overflow: hidden;
}

#register-header #logo {
    width: 160px;
    height: 50px;
    margin-top: 26px;
    background: url(../img/icon.png) no-repeat left top;
    float: left;
}

#register-header #title-txt {
    height: 34px;
    line-height: 34px;
    font-size: 24px;
    color: #333;
    margin-top: 34px;
    float: left;
}

#register-header #have-login {
    float: right;
    margin-top: 55px;
    color: #999;
}

#register-header #have-login a {
    margin-left: 5px;
    color: red;
}


/* register-con */

#register-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


/* register-con step */

#register-con #step {
    width: 400px;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

#register-con #step .step {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#register-con #step .step p {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-weight: 700;
    font-size: 12px;
}

#register-con #step .step span {
    display: block;
    margin-top: 10px;
    font-size: 12px;
}

#register-con #step .doing-top {
    /* 正在执行的任务颜色，完成时下一项点亮(js) */
    background-color: #3b4;
    color: #fff;
}

#register-con #step .doing-foot {
    /* 正在执行的任务背景色，完成时下一项点亮(js) */
    color: #3b4;
}

#register-con #step .wait-top {
    /* 未执行的任务颜色 */
    border: 2px solid #ccc;
    color: #ccc;
}

#register-con #step .wait-foot {
    /* 未执行的任务颜色 */
    color: #ccc;
}

#register-con #step .line {
    /*.........>*/
    width: 110px;
    display: flex;
    justify-content: space-between;
}


/* register-con form */

#register-con form {
    width: 400px;
    height: 302px;
    margin: 50px 0 186px 0;
}

#register-con form .phone {
    width: 400px;
    height: 52px;
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    color: #666;
    position: relative;
}


/* form left */

#register-con form .phone .left {
    float: left;
    width: 108px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    float: left;
}

#register-con form .phone .left div {
    display: block;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#register-con form .phone .select-pic {
    width: 9px;
    height: 5px;
    position: absolute;
    left: 108px;
    top: 22px;
}

#register-con form .phone .pic1 {
    background: url(../img/icon.png) -4px -158px no-repeat;
}

#register-con form .phone .pic2 {
    background: url(../img/icon.png) -20px -158px no-repeat;
}


/* form input */

#register-con form .phone input {
    width: 270px;
    height: 52px;
    line-height: 50px;
    float: right;
    text-indent: 20px;
    border-left: 1px solid rgb(221, 221, 221);
}


/* form notice 如果手机号为空，提示*/

#register-con form .notice {
    width: 400px;
    height: 20px;
    font-size: 12px;
    color: #ff9911;
}

#register-con form .noticePhone {
    /*验证成功出现*/
    display: flex;
    border: 1px solid rgb(221, 221, 221);
    /* width: 400px;
    height: 54px;
    line-height: 54px; */
    margin-top: 15px;
    position: relative;
}

#register-con form .noticePhone p {
    /*验证成功出现*/
    width: 107px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}

#register-con form .noticePhone #notice-code {
    /*验证成功出现输入文本框*/
    width: 174px;
    height: 50px;
    text-indent: 20px;
    border-right: 1px solid rgb(221, 221, 221);
}

#register-con form .noticePhone #regain {
    /*验证成功出现*/
    width: 118px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

#register-con form .noticePhone #noCode {
    /*验证成功出现,获取语音验证*/
    position: absolute;
    right: 0;
    bottom: -35px;
    font-size: 12px;
}

#register-con form .noticePhone #noCode a {
    /*验证成功出现,获取语音验证*/
    color: blue;
    font-size: 12px;
}


/* 密码 */

#register-con form input[type=password] {
    width: 398px;
    height: 54px;
    line-height: 54px;
    line-height: 54px;
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
    text-indent: 20px;
}

#register-con form .psdNotice {
    height: 20px;
}


/* 用户名 */

#register-con form .username {
    border: 1px solid #ccc;
    width: 400px;
    height: 54px;
    margin-top: 10px;
    text-indent: 20px;
}

#register-con form input[type=button] {
    width: 400px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    line-height: 54px;
    background: #fff;
}

#register-con form input[type=button]:hover {
    border: 1px solid #111;
    cursor: pointer;
}

#register-con form #next {
    width: 400px;
    margin-top: 5px;
    background: #e2231a;
    opacity: .9;
    border: 0;
}

#register-con form #next:hover {
    opacity: 1;
    border: 0;
}

#register-con form .userType {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

#register-con form .userType div:hover {
    color: #e2231a;
    cursor: pointer;
}


/* form country */

#register-con #country {
    width: 324px;
    height: 282px;
    border: 2px solid #aaa;
    padding: 10px;
    position: absolute;
    top: 160px;
    left: 405px;
    background: #fff;
}

#register-con #country input {
    width: 272px;
    height: 38px;
    line-height: 38px;
    background: #f7f7f7;
    border: 1px solid #eee;
    padding-left: 42px;
}

#register-con #country #select {
    width: 316px;
    height: 228px;
    margin-top: 10px;
    position: relative;
}

#register-con #country #select .letter {
    width: 320px;
    height: 40px;
}

#register-con #country #select .letter-con {
    width: 320px;
    height: 21px;
}

#register-con #country #select .line {
    width: 210px;
    height: 1px;
    background: #f7f7f7;
    position: absolute;
    top: 50px;
    right: 0;
}

#register-con #country #select #list {
    height: 166px;
    overflow: auto;
    margin-top: 10px;
}

#register-con #country #select #list li {
    float: left;
    width: 95%;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-indent: 32px;
}

#register-con #country #select #list li img {
    height: 12px;
    width: 19px;
    position: absolute;
    left: 0;
    top: 2px;
}


/* register-footer */

#register-footer {
    width: 1210px;
    height: 85px;
    padding-bottom: 30px;
    font-size: 12px;
    text-align: center;
    border-top: solid 1px #e6e6e6;
    color: #999;
    overflow: hidden;
}

#register-footer .links {
    padding: 20px 0 15px 0;
}

#register-footer .links a {
    color: #999;
    margin: 0 10px;
}


/* register-dialog */

#register-dialog {
    width: 947px;
    height: 600px;
    border: 3px solid #ccc;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    z-index: 10;
    background: #fff;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#register-dialog .dialog-title {
    width: 927px;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 30px;
    font-size: 14px;
    background: #eee;
}

#register-dialog .dialog-content {
    width: 907px;
    height: 480px;
    padding: 0 10px;
    margin: 0 10px;
    overflow: auto;
}

#register-dialog .dialog-content:first-line {
    text-indent: 2rem;
}

#register-dialog .dialog-argee {
    width: 400px;
    height: 50px;
    margin: 20px auto;
    background: red;
    text-align: center;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
}

#register-dialog .dialog-close {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    font-size: 25px;
    color: #aaa;
}


/* bgCover */

#register-bgCover {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .1;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: #000;
}