#login-top {
    height: 110px;
    width: 990px;
    margin: auto;
    position: relative;
    #logo {
        width: 160px;
        height: 50px;
        margin-top: 26px;
        background: url(../img/icon.png) no-repeat left top;
        float: left;
    }
    #title-txt {
        height: 34px;
        line-height: 34px;
        font-size: 24px;
        color: #333;
        margin-top: 34px;
        float: left;
    }
    #login-question {
        position: absolute;
        bottom: 5px;
        right: 0;
        color: #333;
        // 
        a:hover {
            color: #E4393C;
            text-decoration: underline;
            cursor: pointer;
        }
        i {
            color: #E4393C;
            font-size: 20px;
        }
    }
}

;
#login-notice {
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #FFF8F0;
    color: #999;
    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

;
#login-con-wrap {
    height: 475px;
    background: #B2010B;
    #login-con {
        width: 990px;
        height: 475px;
        margin: auto;
        background: url(../img/login-bg.jpg) no-repeat center;
        position: relative;
        .login-con {
            position: absolute;
            right: 0;
            top: 15px;
            width: 344px;
            height: 438px;
            background: #fff;
            .tit {
                height: 40px;
                text-align: center;
                line-height: 40px;
                background: #FFF8F0;
                color: #999;
                font-size: 12px;
            }
            .login-way {
                height: 55px;
                display: flex;
                position: relative;
                border: 1px solid #999;
                .line {
                    width: 1px;
                    height: 20px;
                    position: absolute;
                    left: 171px;
                    top: 21px;
                    background: #999;
                }
                .way {
                    width: 172px;
                    text-align: center;
                    line-height: 55px;
                    font-weight: 900;
                    color: #666697;
                    cursor: pointer;
                }
                .way2 {
                    color: #B2010B;
                }
            }
            .left {
                width: 38px;
                height: 38px;
                border: 1px solid #999;
                border-right: 0;
                background: #F4F4F4;
                text-align: center;
                line-height: 30px;
                font-size: 25px;
                color: #999
            }
            input {
                width: 254px;
                height: 18px;
                padding: 10px 0;
                border: 1px solid #999;
                text-indent: 10px;
            }
            .username {
                position: relative;
                margin-top: 40px;
                margin-left: 20px;
                display: flex;
            }
            .password {
                margin-top: 20px;
                margin-left: 20px;
                position: relative;
                display: flex;
                position: relative;
                .forget {
                    position: absolute;
                    // width: 50px;
                    right: 0;
                    bottom: -40px;
                    right: 22px;
                    font-size: 12px;
                    &:hover {
                        color: #B2010B;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
            .user-login {
                margin-left: 20px;
                margin-top: 60px;
                input {
                    width: 304px;
                    height: 33px;
                    background: #E4393C;
                    line-height: 0;
                    color: #fff;
                    cursor: pointer;
                    font-size: 20px;
                }
            }
            .qq-and-weichat {
                position: absolute;
                bottom: 0;
                width: 100%;
                // padding: 0 10px;
                height: 50px;
                background: #FCFCFC;
                .qq-weichat-icon {
                    margin-left: 20px;
                    text-align: center;
                    line-height: 50px;
                    float: left;
                    i {
                        display: inline-block;
                        width: 70px;
                        text-align: left;
                        text-indent: 10px;
                        font-size: 20px;
                        color: #10A8FF;
                        span {
                            font-size: 16px;
                            color: #666666;
                            position: relative;
                            top: -2px;
                        }
                    }
                    .line {
                        width: 1px;
                        height: 10px;
                        position: absolute;
                        left: 92px;
                        top: 20px;
                        background: #999;
                    }
                }
                .now-register {
                    width: 100px;
                    height: 50px;
                    position: absolute;
                    right: 20px;
                    line-height: 50px;
                    text-align: center;
                    &:hover {
                        color: #B2010B;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    /* b {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: crimson;
                        position: absolute;
                        top: 15px;
                    } */
                }
            }
        }
    }
}

;

/* login-footer */

#login-footer {
    width: 1210px;
    height: 85px;
    padding-bottom: 30px;
    font-size: 12px;
    text-align: center;
    border-top: solid 1px #e6e6e6;
    color: #999;
    overflow: hidden;
    .links {
        padding: 20px 0 15px 0;
        a {
            color: #999;
            margin: 0 10px;
        }
    }
}